.h_iframe iframe {
    width:100%;
    height:100%;
}
.h_iframe {
    height: 100vh;
}

html,body {
    height:100%;
    margin-top:0;
    margin-bottom:0;
}

.green-text {
    color: darkgreen;
}

.red-text {
    color: red;
}